*{
    margin: 0;
    padding: 0;
}
/*mobile first*/
main, header{
    background-color: var(--white);
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section{
    margin: 25px 35px;
    padding: 10px;
}
h1, h2{
    font-family: var(--font-young-serif);
}
h1{
    margin-bottom: 0.8em;
    font-size: 2.2em;
    color: var(--stone-900);
}
p, ul li, ol li, table tbody tr td{
    font-size: var(--font-body);
    color: var(--stone-600);
  
}
.intro, .preparation ul li, .ingredients ul li, 
.instructions ol li, .nutrition p, table td {
    font-family: var(--font-outfit);
    line-height: 30px;
}
.intro{
    margin-bottom: 30px;
    /*line-height: 30px;*/
}
.preparation{
    padding: 10px 20px;
    background-color: var(--rose-50);
}
.preparation ul{
    padding: 25px;
}
.preparation ul li{
    padding: 5px 10px;
}
.preparation ul li::marker{
    color: var(--rose-800);
}
.black{
    font-weight: bold;
}
h3{
    color: var(--rose-800);
}
h2{
    color: var(--brown-800);
}
.ingredients, .instructions{
    padding: 10px 5px 10px 15px;
}
.ingredients ul, .instructions ol{
    padding: 25px 5px 25px 25px;
}
.ingredients ul li, .instructions ol li{
    padding: 5px 10px;
}
.ingredients ul li::marker, .instructions ol li::marker{
    color: var(--brown-800);
}
.instructions ol li::marker{
    font-weight: bold;
}
.instructions h2{
    padding-top: 25px;
}
.nutrition{
    padding: 25px 0 15px 0;
}
.nutrition p{
    padding:25px 0 10px 0;
}
table {
    border-collapse: collapse;
    width: 100%;
    
}
table tr{
    width: 50%;
    border-bottom: 0.5px solid var(--stone-150);
}
table td{
    height: 40px;
    text-align: center;
}
#fat{
    border-bottom: none;
}
#info{
    color: var(--brown-800);
    font-weight: bold ;
}
hr{
    width: 80%;
    margin: 0 40px;
    color: 0.5px solid var(--stone-150);
    opacity: 0.5;
}
/*media query tablet*/
@media only screen and (min-width: 768px){
    header{
        padding: 32px;
    }
    img{
        border-radius: 15px;
    }
    section{
        padding: 0 32px 32px 32px;
        margin:0;
    }
    .ingredients, .instructions, .nutrition{
        padding: 0 32px 32px 32px;
    }
    .nutrition h2{
        padding-top: 25px;
    }
    hr{
        width: 90%;
    }
    .attribution{
        margin-top: 60px;
    }

}
@media only screen and (min-width: 1024px){
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--rose-50);
        margin: 100px;
    }
    main, header{
        width: 768px;
    }
    main{
        padding: 32px;
    }

}