/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/*mobile first*/
body{
    margin: 0;
    font-size: var(--font-body);
}
main, header{
    background-color: var(--white);
    font-family: "Outfit", sans-serif;
    width: 100%;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section{
    margin: 25px 35px;
}
h1, h2{
    font-family: "Young Serif", serif;
}
h1{
    font-size: 2em;
    color: var(--stone-900);
}
p, ul li, ol li, table tbody tr td{
    color: var(--stone-600);
  
}
.intro, .preparation ul li, .ingredients ul li, 
.instructions ol li, .nutrition p, table td {
    line-height: 30px;
}
.intro{
    margin-bottom: 30px;
}
.preparation{
    padding: 10px 20px;
    background-color: var(--rose-50);
    border-radius: 15px;
}
.preparation ul{
    padding: 25px;
}
.preparation ul li{
    padding: 5px 10px;
}
.preparation ul li::marker{
    color: var(--rose-800);
}
.black{
    font-weight: bold;
}
h3{
    color: var(--rose-800);
}
h2{
    color: var(--brown-800);
}

.ingredients ul, .instructions ol{
    padding: 25px 5px 25px 25px;
}
.ingredients ul li, .instructions ol li{
    padding: 5px 10px;
}
.ingredients ul li::marker, .instructions ol li::marker{
    color: var(--brown-800);
}
.instructions ol li::marker{
    font-weight: bold;
}
.instructions h2{
    padding-top: 25px;
}
.nutrition{
    padding: 25px 0 0 0;
}
.nutrition p{
    padding:25px 0 10px 0;
}
table {
    border-collapse: collapse;
    width: 100%;   
}
table tr{
    width: 50%;
    border-bottom: 0.5px solid var(--stone-150);
}
table td{
    height: 40px;
    text-align: center;
}
#fat{
    border-bottom: none;
}
.info{
    color: var(--brown-800);
    font-weight: bold ;
}
hr{
    width: 80%;
    margin: 0 40px;
    color: 0.5px solid var(--stone-150);
    opacity: 0.5;
}
/*media query tablet*/
@media only screen and (min-width: 768px){
    header{
        padding: 32px;
    }
    img{
        border-radius: 15px;
    }
    header{
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    main{
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    .preparation{
        padding: 10px 30px;
    }
    .ingredients, .instructions, .nutrition{
        padding: 0 32px 32px 32px;
    }
    .nutrition h2{
        padding-top: 25px;
    }
    hr{
        width: 90%;
    }
    .attribution{
        margin-top: 100px;
    }

}
@media only screen and (min-width: 1024px){
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--rose-50);
        margin: 100px;
    }
    main, header{
        width: 768px;
    }
    main{
        padding: 32px;
    }

}